body{
  font-family:"Cairo",sans-serif;
  background:#0a0f30;
  color:white;
  text-align:center;
  padding:40px;
}
.container{
  max-width:800px;
  margin:auto;
}
input[type="file"]{
  margin:20px 0;
}
.btn{
  padding:12px 20px;
  margin-bottom:20px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  background:linear-gradient(45deg,#ffd700,#555);
  color:#000;
  font-weight:bold;
}
textarea{
  width:100%;
  border-radius:10px;
  padding:10px;
  background:#111b30;
  color:white;
  border:none;
}
#preview{
  margin-top:20px;
}
#preview img, #preview video{
  max-width:100%;
  max-height:400px;
  border-radius:10px;
}
